/* VerticalNavbar.css */
.vertical-navbar {
  width: auto;
  /* background-color: #a81d1d; */
  font-weight: bold;
  font-size: larger;
  /* min-height: 100vh; */
 
  
  /* Optional: Add some padding to the top of the vertical navbar */
}

.nav.flex-column {
  margin: 20px 0; /* Add some margin between the navigation items */
}

.nav-item {
  margin-bottom: 15px; /* Add some space between each navigation item */
  margin-top: 15px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px;
}

.nav-link:hover {
  background-color: #dddddd;
}
