.img{
    width: 10px;
    height: 10px;
    border-radius: 2%;
}

.action{
    background: none !important;
    border: none;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-btn{
    background: none !important;
    border: none;
}

.dots{
    font-size: 20px;
    margin-top: 5px;
}